nav img {
  width: 50%;
  margin-left: 25%;
}
.acceuil-introduction {
  background: linear-gradient(#696484, #8788ba);
}
.acceuil-introduction div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.acceuil-introduction a {
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
}
.acceuil-introduction img {
  width: 30%;
  height: 300px;
  border-radius: 50% 50% 50% 50% / 20% 20% 80% 80%;
  box-shadow: 0px 0px 20px 10px red;
}
